
@{
    ViewData["Title"] = "Página Inicial";
}
<div class="text-center">
    <h1 class="display-4">🍽 Bem-vindo ao RestauranteAPP</h1>
    <p class="lead">Faça seu pedido, consulte o cardápio e reserve mesas para o jantar.</p>
</div>

<hr />
